{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<style>
    body {
        height: 100%;
        font-family: Arial, sans-serif;
        background: linear-gradient(to bottom, #55d8cfd2, #44e8acd2);
        background-repeat: no-repeat;

        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    p {
        font-size: 1.1em;
    }
</style>
<div class="container">

    <p>This is my about page</p>
</div>

{% endblock %}